if SHIELD_EYELASH60_DONGLE

config ZMK_KEYBOARD_NAME
    default "EYELASH60"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_EYELASH60_DONGLE

if SHIELD_EYELASH60_DONGLE || SHIELD_EYELASH60_PERIPHERAL

config ZMK_SPLIT
    default y

endif

